[submodule "lollms/bindings_zoo"]
	path = lollms/bindings_zoo
	url = https://github.com/ParisNeo/lollms_bindings_zoo.git
	branch = main
[submodule "lollms/personalities_zoo"]
	path = lollms/personalities_zoo
	url = https://github.com/ParisNeo/lollms_personalities_zoo.git
	branch = main
[submodule "lollms/bindings_zoo"]
	path = lollms/bindings_zoo
	url = https://github.com/ParisNeo/lollms_bindings_zoo.git
	branch = main
[submodule "lollms/personalities_zoo"]
	path = lollms/personalities_zoo
	url = https://github.com/ParisNeo/lollms_personalities_zoo.git
	branch = main
