recursive-include lollms/configs *
recursive-include lollms/bindings_zoo *
recursive-include lollms/personalities_zoo *
global-exclude *.bin
global-exclude *.pyc
global-exclude local_config.yaml
global-exclude .installed
global-exclude .git
global-exclude .gitignore