tqdm
pyyaml
Pillow
flask
flask_socketio
flask-cors
simple-websocket
wget
setuptools
requests
safe_store

autopep8

fastapi
uvicorn
python-multipart
python-socketio
python-socketio[client]
python-socketio[asyncio_client]